h1{
	
	margin: 15px;
	font-family:  Helvetica, sans-serif;
	text-align: center;
}

h2{
  margin : 20px 0px 0px 220px;
  font-family:  Helvetica, sans-serif;
  font-weight: 1500;
}

h3{
   	margin:10px 80px 10px 80px;
	font-family:  Helvetica, sans-serif;
}
p{
	margin : 10px 100px 10px 100px;
    font-family:  Helvetica, sans-serif;
}

body{
	  fill :red;
	  line-height: 1.2em;
	  background: #FDF6E3;
	  color: #475B62;
}
 
div{
	margin : 10px 80px 10px 80px;
}

.heding{
  margin : 20px 0px 0px 100px;
  font-family:  Helvetica, sans-serif;
  font-weight: 1500;
}

.dimple-r{
	fill: #259286;
	stroke: #259286 ;
	opacity: 0.5;
}

.dimple-b{
	fill:#C61C6F;
	stroke:#C61C6F ;
	
}

.dimple-l{
	fill: yellow;
	stroke: yellow;
	opacity: 0.5;
}

.lineText1 , .lineText2 , .olineText1 , .olineText2{
	stroke:black;
	fill: black;
	font-size: 15px;
	font-family:  Helvetica, sans-serif;
	;
}

.lineLine1 , .lineLine2, .olineLine1 , .olineLine2{
	stroke:black;
	stroke-dasharray:5;
}